.navbar {
  background-color: #FFFFFF;
  color: #0088D1;
}
.nav-link {
  color: #0088D1;
}
.dropdown-item {
  color: #0088D1;
}
.dropdown-menu {
  color: #0088D1;
}
.btn-primary {
  background-color: #0088D1;
}
.breadcrumb {
  background-color: #FFFFFF;
}
.welcome-container {
  text-align: center;
  width: 80%;
}
